<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>

    <ion-item>
      <ion-input label="Email" labelPlacement="stacked" type="email" placeholder="Votre email"
        [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Mot de passe" labelPlacement="stacked" placeholder="Votre mot de passe" type="password"
        [(ngModel)]="user.password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Je suis:</ion-label>
    </ion-list-header>

    <ion-radio-group [(ngModel)]="user.role">
      <ion-item>
        <ion-radio value="developer">Développeur</ion-radio>
      </ion-item>

      <ion-item>
        <ion-radio value="entrepreneur">Entrepreneur</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button expand="block" (click)="register()">
    S'inscrire
  </ion-button>

</ion-content>